.works{
  padding:100px 40px;
  text-align:center;
}

.works h1{
  font-size:45px;
  margin-bottom:50px;
  color:#6f86d6;
}

.work-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.work-card{
  background:rgba(255,255,255,0.08);
  padding:30px;
  border-radius:20px;
  backdrop-filter:blur(10px);
  transition:0.3s;
}

.work-card:hover{
  transform:translateY(-10px);
}

.work-card span{
  font-size:50px;
   color:white;
}

.work-card h2{
  margin:20px 0;
  color:white;
}
p{
    color:white;
}
#login-skeleton{
    min-height:100vh;
    background:#03031f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
}

.sk{
    background:#1d2038;
    position:relative;
    overflow:hidden;
    border-radius:10px;
}

.sk::before{
    content:"";
    position:absolute;
    top:0;
    left:-150px;
    width:150px;
    height:100%;
    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.15),
        transparent
    );
    animation:shine 1.3s infinite;
}

@keyframes shine{
    100%{
        left:100%;
    }
}

