.profile-container{
  width:90%;
  max-width:1400px;
  margin:40px auto;
}

.profile-header{
  display:flex;
  justify-content:space-between;
  gap:30px;

  background:rgba(255,255,255,.05);

  border:1px solid rgba(255,255,255,.1);

  border-radius:25px;

  padding:30px;

  margin-bottom:25px;
}

.profile-left{
  display:flex;
  gap:25px;
}

.profile-image-wrapper img{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
}

.profile-image-wrapper button{
  margin-top:10px;
  width:100%;
}

.profile-info{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.profile-info input,
.profile-info textarea{
  width:100%;
}

.profile-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.card{
  background:rgba(255,255,255,.05);

  border:1px solid rgba(255,255,255,.1);

  border-radius:20px;

  padding:20px;
}

.card h2{
  color:white;
  margin-bottom:15px;
}

input,
textarea{

  width:100%;

  padding:12px;

  margin-bottom:10px;

  border-radius:12px;

  border:1px solid rgba(255,255,255,.1);

  background:#111827;

  color:white;
}

textarea{
  min-height:120px;
}

.save-btn{
  height:50px;

  padding:0 25px;

  border:none;

  border-radius:30px;

  color:white;

  font-weight:600;

  background:
  linear-gradient(
    135deg,
    #8b5cf6,
    #06b6d4
  );
}

.about-image{
    text-align:center;
     position:absolute;
    top: 150px;
    right:300px;
}

.about-image img{
    width:280px;
    max-width:100%;
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-12px);}
    100%{transform:translateY(0);}
}